.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.card {
    font-size: x-large;
    /* padding: 2%; */
    /* border-style: dashed; */
    border-radius: 1%;
    background-color: lightblue;
}